{% extends 'base.html' %}

{% block content %}
<div class="container col-md-8 col-md-offset-2">

<div class="panel panel-default">
    <div class="panel-heading text-center"><b>{{ spec|striptags|title|replace('-',' ') }}</b></div>
</div>

<div class="form-group col-md-3">
    <select id="slotsDropdown" class="form-control" oninput="searchSlot()">
        <option>All</option>
        <option>head</option>
        <option>neck</option>
        <option>shoulder</option>
        <option>back</option>
        <option>chest</option>
        <option>wrist</option>
        <option>hands</option>
        <option>waist</option>
        <option>legs</option>
        <option>back</option>
        <option>feet</option>
        <option>finger 1</option>
        <option>finger 2</option>
        <option>trinket 1</option>
        <option>trinket 2</option>
        <option>weapon</option>
        <option>off hand</option>
        <option>relic</option>
        <option>ranged</option>
    </select>
</div>

<div class="form-group col-md-4 col-md-offset-4 pull-right">
    <input type="text" id="searchInput" class="form-control" onkeyup="searchGear()" placeholder="Search for gear.." title="Search">
</div>

<!-- table -->
<div id="table-container">
    <table class="table-striped table table-bordered" id="data_table">
        <thead>
            <tr>
                <td class="text-center"><b>Gear</b></td>
                <td class="text-center"><b>Slot</b></td>
                <td class="text-center"><b>Drop by</b></td>
                <td class="text-center"><b>BiS</b></td>
                <td class="text-center"><b>Dropped</b></td>
            </tr>
        </thead>
        <tbody id="tbody-container">

        </tbody>
    </table>
</div>

<div class="container-fluid">
    <button type="button" id="clearClassBtn" class="btn btn-danger pull-right" onclick="clearData('{{ spec }}')">Clear</button>
</div>
<br>


<script>
    var result = '{{ result|tojson|safe }}';
    var items_id = '{{ items_id|tojson|safe }}';
    var spec = "{{ spec }}"

    result = JSON.parse(result);
    items_id = JSON.parse(items_id);

    function tableCreate() {
        let tbdy = document.getElementById('tbody-container');
        // se recorre cada elemento del resultado obtenido.
        result.forEach(function(item) {
            if (item.phase.includes("T7") && !item.phase.includes("Pre-Bis")) { //estamos en P7 actualmente
                let tr = document.createElement('tr');
                let td = document.createElement('td');
                let a = document.createElement('a');
                let linkText = document.createTextNode(item.name);
                a.appendChild(linkText);
                a.title = item.name;
                if (localStorage.getItem('language') !== null) {
                    language = localStorage.getItem('language');
                } else {
                    language = "en";
                }
                a.href = "https://" + language + ".wowhead.com/item=" + items_id[item.name];
                a.target = "_blank";
                a.setAttribute("data-wowhead", "item=" + items_id[item.name] + "&domain=" + language);
                // se añade el link a la celda
                td.appendChild(a);
                tr.appendChild(td);
                td = document.createElement('td');
                td.setAttribute("class", "text-center");
                td.appendChild(document.createTextNode(item.slot));
                tr.appendChild(td);
                td = document.createElement('td');
                td.appendChild(document.createTextNode(item.source + " - " + item.source_type));
                tr.appendChild(td);
                td = document.createElement('td');
                td.setAttribute("class", "text-center");
                if (item.t7.bis == true) {
                    td.appendChild(document.createTextNode("yes"));
                } else {
                    td.appendChild(document.createTextNode("no"));
                }
                tr.appendChild(td);
                td = document.createElement('td');
                td.setAttribute("class", "text-center");
                let input = document.createElement('input');
                input.setAttribute('type', 'checkbox');
                input.setAttribute('value', 'in_bag');
                input.setAttribute('id', "_checkbox");
                input.setAttribute('onclick', 'saveData()');
                if (localStorage.getItem(spec) === null) // verifico si hay datos almacenados para la clase buscada.
                {
                    input.checked = false;
                }else{
                    input.checked = JSON.parse(localStorage.getItem(spec))[item.name];
                }
                td.appendChild(input);
                tr.appendChild(td);
                tbdy.appendChild(tr);
            }
        });
    }


    function saveData()
    {
        let TableData;
        TableData = storeTblValues();
        TableData = JSON.stringify(TableData);
    
        localStorage.setItem(spec, TableData);

        console.log("Datos guardados...");

        function storeTblValues(){
            let TableData = new Array();
            $('#data_table tr').each(function(row, tr){
                TableData[row]={
                    "gear" : $(tr).find('td:eq(0)').text()
                    , "in_bag" :$(tr).find('td:eq(4)').find('input[type="checkbox"]').is(':checked')
                }
            }); 
            TableData.shift();  // first row is the table header - so remove
            result = {};
            TableData.forEach(function(item, i){
                result[item["gear"]] = item["in_bag"];
            });
            return result;
        }
    }

    // si no existe el objeto de items_id, lo debo crear:
    if (localStorage.getItem("items_id") === null )
    {
        data = {};
        localStorage.setItem("items_id", JSON.stringify(data));
    }

    function clearData(spec)
    {
        localStorage.removeItem(spec);
        location.reload();
        console.log("Datos eliminados...");
    }


    function searchGear(){
        let input, filter, table, tr, td, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("data_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
    }


    function searchSlot() {
        let dropdown, table, rows, cells, slot, filter;
        dropdown = document.getElementById("slotsDropdown");
        table = document.getElementById("data_table");
        rows = table.getElementsByTagName("tr");
        filter = dropdown.value;

        for (let row of rows) { // `for...of` loops through the NodeList
            cells = row.getElementsByTagName("td");
            slot = cells[1] || null; // gets the 2nd `td` or nothing
            // if the filter is set to 'All', or this is the header row, or 2nd `td` text matches filter
            if (filter === "All" || !slot || (filter === slot.textContent)) {
            row.style.display = ""; // shows this row
            }
            else {
            row.style.display = "none"; // hides this row
            }
        }
    }


    // se crea la tabla al cargar la página.
    tableCreate();

</script>

{% endblock %}